<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bontemps.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>bontemps.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BonTemps</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BonTemps</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ywnz4zpgcn.database.windows.net,1433;Initial Catalog=BonTemps_db;User ID=bontempsadmin@ywnz4zpgcn;Password=uis8&amp;RS7D1RU" Name="Data Source=tcp:ywnz4zpgcn.database.windows.net,1433;Initial Catalog=BonTemps_db;User Id=bontempsadmin@ywnz4zpgcn;Password=uis8&amp;RS7D1RU;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BonTemps.Models.ApplicationDbContext, BonTemps" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ywnz4zpgcn.database.windows.net,1433;Initial Catalog=BonTemps_db;User Id=bontempsadmin@ywnz4zpgcn;Password=uis8&amp;RS7D1RU;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>